<header class="header">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="h3 mb-0">gdwrapper</h1>
            <div class="header-buttons d-flex gap-2">
                <a href="{% url 'index' %}" class="btn btn-outline-light">Просмотр файлов</a>
                <a href="{% url 'stats' %}" class="btn btn-outline-light">Статистика</a>
                <a href="{% url 'auth:auth' %}" class="btn btn-light">Авторизоваться</a>
            </div>
        </div>
    </div>
</header>